// FONTS

$primary-font: 'HelveticaNeueCyr';
$secondary-font: 'Oswald';
$accent-font: 'Mistral';
// FONT NOT YET LOCATED
$third-font: 'MarckScript-Regular';
// THE ONE ABOVE

// FONT COLORS
$primary-font-color: #0099cc; //M
$secondary-font-color: #009999; // menu M2
$third-font-color: #cdd9eb;
$menu-border-color: #d8e8e2; // border menu
$secondary-accent-color: #002b4c; // text
$footer-color: #707173; //baby footer
$bg-color: rgba(112, 113, 115, 0.25); //#b1b3b4;  - fon1  fon footer
