.willkommen {
  background-color: $bg-color;
  padding: 120px 0;
  margin-bottom: 80px;

  &__title {
    font-size: 60px;
    line-height: 1;
    margin: 0 0 22px;
  }

  &__text {
    font-size: 30px;
    line-height: 1.4;
    margin: 0 0 50px;
  }

  &__text:last-of-type {
    margin: 0;
  }

  & img {
    margin-bottom: 30px;
  }
}
